<%= content_for :title do %>
	Videos: Search Results
<% end %>

<h1>Search Results:</h1>

	<% @data['items'].each do |data| %>
		<% if data['id']['kind'] == "youtube#video" %>
			<div class="row results well">
				<input id="video_id" type="hidden" value=<%= data['id']['videoId'] %>>
				<div class="col-lg-3">
					<img class = "pull-left" src=<%= data['snippet']['thumbnails']['medium']['url'] %> alt="Thumbnail">
				</div>
				<div class="col-lg-9">
					<div class="info">
						<h4><%= data['snippet']['title'] %></h4>
						<p>By: <a href=<%= "http://www.youtube.com/channel/#{data['snippet']['channelId']}"%>><%= data['snippet']['channelTitle'] %></a></p>
						<p><%= data['snippet']['description'] %></p>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>

