<%= content_for :title do %>
	Video
<% end %>

<%= content_tag "div", id: "noteArray", data: {url: @notes} do %>
<% end %>

<% if signed_in? %>
	<div class="favorite_content">
		<%= simple_form_for @video, :url => favorite_path, :method => :post do |f| %>
			<input type="hidden" name="video_id" value=<%= @video.id %>>
			<%= f.submit  "Add to Favorites", :class => "favorites btn-link pull-right" %>
		<% end %>
	</div>
<% end %>

<%= link_to "Share Link", "#link_modal", "data-toggle" => "modal", :class => "share pull-right" %>
<h1 class="show_title"><%= @video.name %>:</h1>

<div class="row">
	<div class="col-lg-7">
		<div id="player"></div>
	</div>
	<div class="col-lg-5">
		<div class="well note">
			<div id = "note-title"></div>
			<div id="note-content"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-7">
		<div class="well save_note">
			<div class="note_errors"></div>
			<%= simple_form_for(@note) do |f| %>
				<%= f.input :title %><br/>
				<%= f.input :url, :as => :hidden, :input_html => {:value => @video.url} %>
				<%= f.input :time, :as => :hidden, :input_html => {:value => ''} %>
				<input type="hidden" name="video_id" value=<%= @video.id %>>
				<%= f.input :content, as: :text, :input_html =>{:rows => 8, :cols => 60} %><br/>
				<%= f.submit  "Save Note", :class => "btn btn-primary pull-right" %>
			<% end %>
		</div>
	</div>
	<div class="col-lg-5">
		<h2>Notes</h2>
		<div class="result_table">
			<table id="notes_table" class="table">
				<thead>
					<tr>
						<th>Time</th>
						<th>Title</th>
					</tr>
				</thead>
				<tbody>
					<% @notes.each do |note| %>
						<tr>
							<input id="skip_to" type="hidden" value=<%= note.time %>>
							<input id="new_title" type="hidden" value=<%= note.title %>>
							<input id="new_content" type="hidden" value=<%= note.content %>>
							<% if note.time %>
								<td><%= Time.at(note.time).utc.strftime("%M:%S") %></td>
							<% else %>
								<td><%= note.time %></td>
							<% end %>
							<td><%= note.title %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<input id="video_id" type="hidden" name="video_id" value=<%= @video.url %>>

<div class="modal fade login-modal" id="link_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      	<div class="modal-content">
        	<div class="modal-body">
          		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          		<h3 class='text-center'>Unfavorited videos will be removed after a week.</h3>
        		<div class="row">
        			<div class="col-lg-8 col-lg-offset-2">
          				<span id="shareLink" class="text-center">Share: <input id="shareValue" class="form-inline" type="text" value=<%= "annotate/v/#{@video.id}" %>></span>
          			</div>
          		</div>	
          		<p class="text-center">Go To: <%= link_to "annotate/v/#{@video.id}", "/v/#{@video.id}" %></p>
        	</div>
      	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
