<%= content_for :title do %>
	annotate
<% end %>
<div id="landing_intro">
	<div class="col-lg-4 col-lg-offset-2">
		<h1>Note-taking simplified.</h1>
		<h3>Create and save video notes effortlessly.</h3>
	</div>
	<div class="col-lg-3">
		<img src= "<%=asset_path('yt-logo.png') %>" alt="Youtube Logo">
	</div>
</div>

<div id="main_content">
	<h1 class="text-center">What is annotate?</h1>
	<div class="row">
		<div class="col-lg-3 text-center">
			<img class="text-center" src= "<%=asset_path('search.png') %>" alt="Youtube Logo">
		</div>
		<div class="col-lg-3 text-center">
			<img class="text-center" src= "<%=asset_path('notepad.png') %>" alt="Youtube Logo">
		</div>
		<div class="col-lg-3 text-center">
			<img class="text-center" src= "<%=asset_path('clock.png') %>" alt="Youtube Logo">
		</div>
		<div class="col-lg-3 text-center">
			<img class="text-center" src= "<%=asset_path('save.png') %>" alt="Youtube Logo">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 text-center">
				<h2>Search Youtube</h2>
				<p>Search for your favorite lecture or videos on youtube.</p>
		</div>
		<div class="col-lg-3 text-center">
			<h2>Take Notes</h2>
			<p>Effortlessly take notes while you are watching your favorite videos.</p>
		</div>
		<div class="col-lg-3 text-center">
			<h2>Timestamps</h2>
			<p>Notes are linked with timestamps, and appear on playback automatically.</p>
		</div>
		<div class="col-lg-3 text-center">
			<h2>Save and Share</h2>
			<p>Save your annotations with the video, and share with friends.</p>
		</div>
	</div>
</div>

