<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "custom", :media => "all" %>
  <%= stylesheet_link_tag    "static", :media => "all" %>
  <%= javascript_include_tag "custom" %>
  <%= javascript_include_tag "static" %>
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/nav' %>
<div class="container contained">
	<%= yield %>
	<%= render 'shared/footer' %>
</div>

</body>
</html>
